# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables file
.env

# SQLite database file (checkpoints)
lg_checkpoints.db
*.sqlite
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
